

<div class="row">
  <div class= "col-sm-6" *ngIf="produtoSelecionado">
    <div class="row">
      <div class="mr-auto">
        <div>
          <h1>{{titulo}}</h1>
          <p>produto selecionado: {{produtoSelecionado.id}}</p>
        </div>  
      </div>
      <div class="mt-1">
        <button class="btn btn-warning" (click)="voltar()">Fechar</button>
      </div>
    </div>
    
    <br>
    <form [formGroup]="produtoForm" (submit)="produtoSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Quantidade</label>
        <input type="email" class="form-control" formControlName="quantidade" >
        
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Preco</label>
        <input type="email" class="form-control" formControlName="precoUnitario" >
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Nome do Produto</label>
        <input type="name" class="form-control" formControlName="nomeProduto">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!produtoForm.valid">Submit</button>
    </form>
  </div>
  <div [ngClass]= "{'col-sm-6': produtoSelecionado,'col-sm-12':!produtoSelecionado}">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">Id</th>
          <th scope="col">Nome Produto</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preco Unitario</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos" >
          <td><button class="btn btn-warning"(click)="produtoSelect(produto)">detalhe</button></td>
          <th scope="row">{{produto.idProduto}}</th>
          <td>{{produto.nomeProduto}}</td>
          <td>{{produto.quantidade}}</td>
          <td>{{produto.precoUnitario}}</td>
          <td>
            <div class="btn-group">
              
              <button class="btn btn-outline-primary">Editar</button>
              <button class="btn btn-danger">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

